* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    background-color: gray;
}

p {
    color: darkgreen;
    letter-spacing: 1px;
    font-weight: 600;
    width: max-content;
}

h1 {
    color: darkmagenta;
}

h3 {
    color: brown;
}

.strpos {
    letter-spacing: 3px;
}

article {
    border: 1px solid;
}